<nav class="bg-white shadow sidebar-fixed collapse" id="sidebarCollapse">


    <ul class="nav flex-column p-3 mb-auto" id="guest-menu">

            <li class="nav-item">
                <a class="nav-link text-dark py-2" href="dashboard.html">
                    <i class="bi bi-speedometer me-2"></i> Dashboard
                </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark py-2" href="usuarios.html">
                <i class="bi bi-people me-2"></i> Usuarios
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark py-2" href="buses.html">
                <i class="bi bi-bus-front me-2"></i> Buses
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark py-2" href="choferes.html">
                <i class="bi bi-person-vcard me-2"></i> Choferes
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link text-dark py-2" href="reservas.html">
                <i class="bi bi-calendar-check me-2"></i> Reservas
              </a>
            </li>

            <li class="nav-item border-top mt-3 pt-3">
                <a class="nav-link  text-danger" href="#" id="btnLogout">
                    <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
                </a>
            </li>
        </ul>
</nav>