<nav class="bg-white shadow sidebar-fixed collapse" id="sidebarCollapse">

    <ul class="nav flex-column p-3 mb-auto" id="guest-menu">
      <li class="nav-item">
        <a class="nav-link text-dark py-2" href="index.html">
          <i class="bi bi-house-door me-2"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark py-2" href="acerca.html">
          <i class="bi bi-info-circle me-2"></i> Acerca
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark py-2" href="servicios.html">
          <i class="bi bi-gear me-2"></i> Servicios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark py-2"  href="mapa.html">
          <i class="bi bi-map me-2"></i> Mapa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark py-2" href="contacto.html">
          <i class="bi bi-envelope me-2"></i> Contáctenos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark py-2" href="registro.html">
          <i class="bi bi-person-plus me-2"></i> Registro
        </a>
      </li>
      <li class="nav-item border-top mt-3 pt-3">
        <a class="nav-link text-dark py-2" href="login.html">
          <i class="bi bi-lock me-2"></i> Iniciar sesión
        </a>
      </li>
            <li class="nav-item">
        <a class="nav-link text-dark py-2" href="http://localhost:5000/admin/dashboard.html">
          <i class="bi bi-bookmark"></i> Admins Only
        </a>
      </li>
    </ul>

    <ul class="nav flex-column p-3 mb-auto" id="user-menu" style="display:none;">
      <li class="nav-item">
        <a class="nav-link text-dark py-2" href="index.html">
          <i class="bi bi-house-door me-2"></i> Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link bg-primary text-white rounded-3 py-2 active" aria-current="page" href="mapa.html">
          <i class="bi bi-map me-2"></i> Mapa
        </a>
      </li>
      <li class="nav-item border-top mt-3 pt-3">
        <a class="nav-link text-danger py-2" href="#" id="logout-link">
          <i class="bi bi-box-arrow-right me-2"></i> Cerrar sesión
        </a>
      </li>
    </ul>

</nav>